DATABASE_URL=mysql+aiomysql://doadmin:YOUR_DB_PASSWORD@db-mysql-blr1-87206-do-user-35228275-0.a.db.ondigitalocean.com:25060/defaultdb
MYSQL_SSL_ENABLED=true

JWT_SECRET=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY
SENDGRID_FROM_EMAIL=noreply@hourlygym.com

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

FRONTEND_URL=http://localhost:3000
PUBLIC_BACKEND_URL=http://127.0.0.1:8000
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
